.Footer-content{
    background-color: #282c34;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.Footer-content table {
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 3px solid purple;     
}

.Footer-content table tr td span{
    font-weight: bold;
    font-size: 16px;
    color: rgb(247, 3, 3);
}