/* .NavBar-content {
    background-color: #282c34;
    overflow: hidden;
    justify-content: center;
    height: 10%;
  }

.NavBar-content a {
    float: left;
    color: rgb(247, 3, 3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: calc(10px + 2vmin);
} */